{{#if loggedIn}}
<div class="row">
     <div class="col-sm-4">
        <h3 class="text-center">Lists</h3>
        <div class="list-group">
            {{#each lists}}
            <a href={{id}} class="list-group-item list-group-item-action text-center">{{list_name}}</a>
            {{!-- <li><a class="dropdown-item" href="#">{{list_name}}</a></li> --}}
            {{/each}}
        </div>
        <div class="bg-light pt-3 px-3 pt-md-2 px-md-3 m-md-3 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2>Add a Stock</h2>
                {{> add-to-list}}
            </div>
        </div>
        <div class="bg-light pt-3 px-3 pt-md-2 px-md-5 m-md-3 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h1 class="list-of-stocks" id="listId-{{list.id}}">{{ list.list_name }}</h1>
                
                <ul class="list-unstyled">
                    {{#each list.stocks}}
                        <li><a href="#" id="stock">{{stock_symbol}}</a></li>
                    {{/each}}
                </ul>
                <script>
                    let stockListId = document.querySelector(".list-of-stocks").id.split('-')[1]
                    const stockLinks = document.querySelectorAll("#stock")
                    stockLinks.forEach((stock) => {
                        const name = stock.innerHTML;
                        stock.setAttribute('href', `/stocks/${stockListId}-${name}`)
                    })

                </script>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
            <div class="my-3 py-3">
                <h2 id="chartContainer" style="height: 400px; width: 100%">Chart</h2>
            </div>
    </div>
</div>

{{else}}
<a href="/login">You must login first to view the paintings</a>
{{/if}}



<script src="/js/canvasjs.stock.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/stocks-chart.js"></script>